@page "/"

<PageTitle>Index</PageTitle>

<h4>Projects</h4>

<a href="selectedproject/french-ewe" class="btn btn-dark">French Ewe</a>
<a href="selectedproject/Swahili" class="btn btn-dark">Swahili</a>


@code {


    [CascadingParameter(Name = "HeadingColor")]
    public string Color { get; set; }
}